@charset "utf-8";

body{cursor: url('../img/cursor.cur') 20 30, auto;color: #333; font-size: 1.6rem; line-height: 1.5; font-family:'pretendard',sans-serif; overflow-x: hidden;}
.inner{max-width: 1700px; margin: 0 auto; padding: 0 5%;}

#main #mv {min-height: 110vh; justify-content: center; display: flex; }
